<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>

<body>
    <h1>dashboard</h1>

    <label for="username">username</label>
    <br><br>
    <input type="text" name="username" id="username" value="{{ user }}" readonly>
    <br><br>
    <label for="password">password</label>
    <br><br>
    <input type="text" name="password" id="password" value="{{ password }}" readonly>

    <p>bienvenido, user: {{user}}</p>
    <p>bienvenido, modify: {{modify}}</p>

    {% if modify %}
    {% for item in cart %}
    <p>{{ item }}</p>
    {% endfor %}
    {% endif %}
</body>

</html>